@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@plugin "@anuragroy/tailwindcss-animate";

@import "@luminescent/ui";

@source "../node_modules/@luminescent/ui-qwik";

@theme {
  --lum-border-radius: var(--radius-3xl);
  --color-lum-border: #dfdfdfaa;
  --color-nav-bg: --alpha(var(--color-sky-950) / 40%);
  --color-bg: var(--color-gray-950);
  --font-display: "Figtree", "sans-serif";

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-850: var(--color-neutral-850);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);
  --color-green: var(--color-green-900);
  --color-red: var(--color-red-900);
  --color-orange: var(--color-orange-900);
  --color-yellow: var(--color-yellow-900);
  --color-blue: var(--color-blue-900);
  --color-violet: var(--color-violet-900);
  --color-pink: var(--color-pink-900);
  --color-purple: var(--color-purple-900);
  --color-cyan: var(--color-cyan-900);
  --color-lime: var(--color-lime-900);
  --color-teal: var(--color-teal-900);
  --color-lum-accent: var(--color-luminescent-500);

  --lum-border-superellipse: 2;
  --lum-depth: 1;
}

@supports (corner-shape: squircle) {
  :root {
    --lum-border-radius: 4rem;
  }
}

@keyframes spin-cc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@layer utilities {
  .animate-spin-cc {
    animation: spin-cc 40000ms linear infinite;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-gray-200);
    --color-nav-bg: --alpha(var(--color-blue-300) / 40%);
    --color-green: var(--color-green-500);
    --color-red: var(--color-red-500);
    --color-orange: var(--color-orange-500);
    --color-yellow: var(--color-yellow-500);
    --color-blue: var(--color-blue-500);
    --color-violet: var(--color-violet-500);
    --color-pink: var(--color-pink-500);
    --color-purple: var(--color-purple-500);
    --color-cyan: var(--color-cyan-500);
    --color-lime: var(--color-lime-500);
    --color-teal: var(--color-teal-500);
    --color-lum-border: var(--color-gray-600);
    --color-lum-card-bg: var(--color-gray-50);
    --color-lum-input-bg: var(--color-gray-100);
    --color-lum-input-hover-bg: var(--color-gray-200);
    --color-lum-text: var(--color-gray-900);
    --color-lum-text-secondary: var(--color-gray-600);
  }
}

a.lum-btn, a.lum-card {
  color: var(--color-text) !important;
  text-decoration: none;
}

html {
  font-family: Figtree, sans-serif;
  overflow: overlay;
  background: linear-gradient(
    var(--color-gray-950) 25%,
    var(--color-gray-950) 100%
  );
  background-color: var(--color-gray-950);
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: --alpha(var(--color-lum-card-bg) / 100%);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* known issue with backdrop-filter in webkit */
.backdrop-blur-lg {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}